body {
    background-color: black;
    background: url(assets/images/kindajean_@2X_darker.png); 
}

li .btn {
	background-color: inherit;
	border: none;
	color: #ffffff;
}

footer *{
	color: #ffffff;
}

.panel-container{
	background-color: transparent;
	padding: 20px;
}


.custom_panel *{
	text-align: left;
}

.custom_panel .panel-heading{
	background-color: #9d9d9d;
    border-color: #101010;
	
}

.panel-body a{
	color: #333;
}