body {
    background-color: black;
    background: url(assets/images/kindajean_@2X_darker.png); 
}

li .btn {
	background-color: inherit;
	border: none;
	color: #ffffff;
}

.jumbotron *{
	text-align: center;
}

footer *{
	color: #ffffff;
}