{{ if .Projects }}
<div id="projects" class="section">
    <div class="section__heading">
        <h2 class="section__title">Projects</h2>
    </div>
    <div class="section__content">
        {{ range .Projects }}
            <div class="education__item">
                <h3 class="education__title">{{ .Name | safeHTML }}</h3>
                <div class="education__description">{{ .Description | safeHTML }}</div>
                {{ if .Links }}
                <div class="experience__badges">
                    <ul>
                        {{ range .Links }}
                        <li class="experience__badge"><a href="{{ .URL }}" target="_blank" style="color: inherit; text-decoration: none;">{{ .Label }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
